body {
     font-family: Microsoft JhengHei;
     width: 100%;
     margin: 0;
}
#banner{
    margin-top: -17px;
    width: 100%;
    height: 550px;
    
}

.title{
    color: #FA8072;
    font-weight: bold;
    margin-bottom: 0px;
}
#content{
  text-align: center;
}

h3{
  color: #6d6d6d;
  font-weight: bold;
}
span{
  margin-right: 5px;
}
.item{
    margin-bottom: 30px;

}
.item p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item img{
    width: 50%;

}

  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  nav .logo{
    width: 20%;
    height: 20%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
  }
  a.active,a:hover{
    background: #FA8072;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #FA8072;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  


  .single-footer h3{
    font-weight: 500;
    margin-bottom: 25px;
    color: #000;
  }


  .link-area li{
    padding: 5px 5px 5px 0;
    list-style: none;
  }
  .link-area li a{
    margin-right: 10px;
    color: #1b9bff;
    text-decoration: none;
}
  .link-area{
    padding: 0;
  }
  




 